In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [22]:
"I am Waqas"
"He is Waqas"

'He is Waqas'

In [23]:
hn = pd.read_csv("hacker_news.csv")
print(hn.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20099 entries, 0 to 20098
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20099 non-null  int64
 1   title         20099 non-null  object
 2   url           17659 non-null  object
 3   num_points    20099 non-null  int64
 4   num_comments  20099 non-null  int64
 5   author        20099 non-null  object
 6   created_at    20099 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB
None

In [24]:
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

In [25]:
titles = hn["title"]
titles.head(10)

0                            Interactive Dynamic Video
1    Florida DJs May Face Felony for April Fools' W...
2         Technology ventures: From Idea to Enterprise
3    Note by Note: The Making of Steinway L1037 (2007)
4    Title II kills investment? Comcast and other I...
5                       Nuts and Bolts Business Advice
6          Ask HN: How to improve my personal website?
7    Shims, Jigs and Other Woodworking Concepts to ...
8                               That self-appendectomy
9    Crate raises $4M seed round for its next-gen S...
Name: title, dtype: object

In [26]:
titles.shape

(20099,)

In [28]:
"python"
"Python"

"[Pp]ython"
"sql"
"SQL"
"SQl"
"[Ss][Qq][Ll]"

'[Ss][Qq][Ll]'

In [29]:
print(r"Waqa\bs")

Waqa\bs

In [30]:
pa = "Wa"
s = "He is Waqas"

re.search(pa, s)

In [31]:
import re

pattern = '[pP]ython' # Set

python_counts = 0

for title in titles:
    if re.search(pattern, title):
        python_counts += 1
python_counts

160

In [32]:
python_counts = titles.str.contains(pattern).sum()
python_counts

160

In [33]:
pattern = "[Rr]uby"

ruby_find = hn["title"].str.contains(pattern)

In [34]:
ruby_titles = titles[ruby_find]
ruby_titles.head(8)

190                    Ruby on Google AppEngine Goes Beta
484          Related: Pure Ruby Relational Algebra Engine
1388    Show HN: HTTPalooza  Ruby's greatest HTTP clie...
1949    Rewriting a Ruby C Extension in Rust: How a Na...
2022    Show HN: CrashBreak  Reproduce exceptions as f...
2163                  Ruby 2.3 Is Only 4% Faster than 2.2
2306    Websocket Shootout: Clojure, C++, Elixir, Go, ...
2620                      Why Startups Use Ruby on Rails?
Name: title, dtype: object

In [35]:
titles[2022]

'Show HN: CrashBreak  Reproduce exceptions as failing tests in Ruby'

In [37]:
# "8{3}" -"888"
# "8{3,5}"-> "888", "8888","88888"

### Quantifier

#### 1. Numeric Quantifier

`a{3}` -> The character `a` three times

 `a{3,5}` ->The character `a` three, four or five times

 `a{,3}` ->The character `a` zero, one, two or three times

 `a{8,}` ->The character `a` eight or more times

#### 2. Character Quantifier

`a*` -> equivalent to a{0,} zero or more

`a+` -> equivalent to a{1,} one or more

`a?` -> equivalent to a{0,1} zero or one (optional)

In [38]:
# pattern = "e-?mail" # email, e-mail

pattern = "e-{0,1}mail" # email, e-mail

email_bool = titles.str.contains(pattern) # boolean
# email_count = email_bool.sum()
email_titles = titles[email_bool]
email_titles.head(15)
email_titles.tail(15)

15300    A Humble email alternative app with a stop switch
15408    Google has most of my email because it has all...
15489    Hillary's IT guy asking Reddit how to cover up...
15682    QUESTION: Why does no email have native video?...
16152    Avoid committing to GitHub with your company e...
16508    State Dept.: Clinton IT aide's email archive i...
16794    Turkey blocks access to WikiLeaks after email-...
17004    TRACEMAIL: Visualize the path of your emails, ...
17415    Microsoft failed to warn victims of Chinese em...
17924                 How Clintons email scandal took root
18098    House panel looking into Reddit post about Cli...
18583    Mailgen  Generates clean, responsive HTML for ...
18847    Show HN: Crisp iOS keyboard for email and text...
19303    Ask HN: Why big email providers don't sign the...
19446    Tell HN: Secure email provider Riseup will run...
Name: title, dtype: object

### Character classes:

* `set` ->[fud] either f,u or d   [sbm]end  -> send, bend, mend
* `range` -> [a-e] any of the charachter a,b,c,d or e [abcde]
* `range` -> [0-3] any of the charachter 0,1,2 or 3  [0123]
* `range` -> [A-Z] any uppercase letter [ABCDEF---Z]
* `set+range` -> [A-Za-z] any uppercase or lower case letter


* `Digit` -> **`\d`** any digit character(equivalent to [0-9])
* `Word` -> **`\w`** any digit, uppercase, lowercase or underscore character (equivalent to [A-Za-z0-9_]). Does not include any special character 
* `Whitepace` -> **`\s`** any space, tab or linebreak (\n) character
* `Dot` -> **`.`**  any character or special character except newline

[Pdf],[video], [jpg],------------------[]

pdf], video], jpg]

In [39]:
r"\[(\w+\])"

'\\[(\\w+\\])'

In [40]:
pattern = r"\[\w+\]" 
tag_titles = titles[titles.str.contains(pattern)]
tag_count = tag_titles.shape[0]
tag_count

444

In [41]:
tag_titles.tail(10)

19482       [Challenge] Sorting algorithm with constraints
19541    On the Insecurity of Whitelists and the Future...
19549                IMP: Indirect Memory Prefetcher [pdf]
19583    [Ubuntu]if you do this sudo chmod 777 -R /etc,...
19743    Using a Neural Network to Train a Ruby Twitter...
19763    TSA can now force you to go through body scann...
19867                       Using Pony for Fintech [video]
19947                                Swift Reversing [pdf]
19979    WSJ/Dowjones Announce Unauthorized Access Betw...
20089    Users Really Do Plug in USB Drives They Find [...
Name: title, dtype: object

In [42]:
# capturing group  ()

In [43]:
pattern = r'\[(\w+)\]' 

tag = titles.str.extract(pattern)
tag_freq = tag[0].value_counts()
print(tag_freq.sum())
tag_freq.head()

444

pdf      276
video    111
2015       3
audio      3
2014       2
Name: 0, dtype: int64

In [44]:
276+111+3+3+2

395

In [45]:
pattern = r'(\[\w+\])'

titles = hn['title']
tag = titles.str.extract(pattern)
tag_freq = tag[0].value_counts()
tag_freq.head()

[pdf]      276
[video]    111
[audio]      3
[2015]       3
[2014]       2
Name: 0, dtype: int64

### Negative set

* `Negative Set` -> [^fud] any charachter except f,u or d
* `Negative Set` -> [^1-3Z\s] any charachter except 1,2,3,Z or Whitespace character
* `Negative Digit` -> \D any charachter except Digit character [^\d]
* `Negative Word` -> \W any charachter except word character
* `Negative whitespace` -> \S any charachter except space character
* `Negative dot` [^.]

In [46]:
def first_10_matches(pattern):
    """
    Return the first 10 story titles that match
    the provided regular expression
    """
    all_matches = titles[titles.str.contains(pattern)]  # doc string
    first_10 = all_matches.head(10)
    return first_10

In [47]:
first_10_matches.__doc__

'\n    Return the first 10 story titles that match\n    the provided regular expression\n    '

In [48]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [49]:
len.__doc__

'Return the number of items in a container.'

In [50]:
pattern  = r'[Jj]ava[^Ss]' # Java..., java..., javascript  , I am java

java_titles = first_10_matches(pattern)
java_titles

436     Unikernel Power Comes to Java, Node.js, Go, an...
811     Ask HN: Are there any projects or compilers wh...
1840                    Adopting RxJava on the Airbnb App
1972          Node.js vs. Java: Which Is Faster for APIs?
2093                    Java EE and Microservices in 2016
2367    Code that is valid in both PHP and Java, and p...
2493    Ask HN: I've been a java dev for a couple of y...
2751                Eventsourcing for Java 0.4.0 released
2910                2016 JavaOne Intel Keynote  32mn Talk
3452    What are the Differences Between Java Platform...
Name: title, dtype: object

In [51]:
string = "Sometimes people confuse JavaScript with Java"

pattern_1 = r"Java[^S]"
m1 = re.search(pattern_1, string)
print(m1)

None

In [52]:
print("Waqa\bs")

Waqas

In [53]:
# Boundary character anchor -> \b

In [54]:
pattern_2 = r"\bJava\b"
m2 = re.search(pattern_2, string)
print(m2)

<re.Match object; span=(41, 45), match='Java'>

In [55]:
pattern = r'\b[Jj]ava\b'

java_titles = first_10_matches(pattern)
java_titles

436     Unikernel Power Comes to Java, Node.js, Go, an...
811     Ask HN: Are there any projects or compilers wh...
1023                         Pippo  Web framework in Java
1972          Node.js vs. Java: Which Is Faster for APIs?
2093                    Java EE and Microservices in 2016
2367    Code that is valid in both PHP and Java, and p...
2493    Ask HN: I've been a java dev for a couple of y...
2751                Eventsourcing for Java 0.4.0 released
3228                              Comparing Rust and Java
3452    What are the Differences Between Java Platform...
Name: title, dtype: object

In [56]:
pattern_ending = r'\[\w+\]$'
ending_count = titles.str.contains(pattern_ending).sum()
ending_count

417

In [57]:
first_10_matches(pattern_ending)
# titles[66]

66     Analysis of 114 propaganda sources from ISIS, ...
100    Munich Gunman Got Weapon from the Darknet [Ger...
159         File indexing and searching for Plan 9 [pdf]
162    Attack on Kunduz Trauma Centre, Afghanistan  I...
210    A plan to rescue western democracy from the ig...
375                           Apple  Don't Blink [video]
445    New Directions in Cryptography by Diffie and H...
467    Wallace and Gromit  The Great Train Chase (199...
471    Hacker Shows Us How to Unlock a Laptop Using a...
507       We have always been at war with Amazon [audio]
Name: title, dtype: object

In [58]:
pattern_beginning = r'^\[\w+\]'

beginning_count = titles.str.contains(pattern_beginning).sum()
beginning_count

15

In [59]:
first_10_matches(pattern_beginning)

195                 [Beta] Speedtest.net  HTML5 Speed Test
398         [video] Google Self-Driving SUV Sideswipes Bus
3136                           [CSS] Yellow Fade Technique
5054     [React] proptypes-parser: Define React PropTyp...
9389     [Petition] Tell Microsoft to stop making browsers
10960      [pdf] Ninth Circuit Decision on AT&T Throttling
11356    [video] a new tool to make your workflow as a ...
12323                [Map] Watch as the US grows over time
12374    [JavaScript] to promise or to callback? This i...
13385                [video] Introducing Apple File System
Name: title, dtype: object

In [73]:
import re
# pattern =  r'e[-\s]?mail'
pattern = r'e-?\s?mail' #  email, e-mail, e mail, EMAIL, Email, E Mail, E-Mail, E-MAIL, emaiL


email_mentions = titles[titles.str.contains(pattern, flags = re.I)] # re.I -> Ignore Case
email_mentions.head(10)

119     Show HN: Send an email from your shell to your...
161     Computer Specialist Who Deleted Clinton Emails...
174                                       Email Apps Suck
261     Emails Show Unqualified Clinton Foundation Don...
313         Disposable emails for safe spam free shopping
332                          Inky: Secure Email Made Easy
450     Mailtrain (the open source Mailchimp clone) is...
1361    Ask HN: Doing cold emails? helps us prove this...
1750    Protect yourself from spam, bots and phishing ...
1774    From Email Introductions to Addressing Diversi...
Name: title, dtype: object

In [61]:
pattern = r'(e-?\s?mail)' # or  r'(e[-\s]?mail)'
titles.str.extract(pattern, flags = re.I)[0].value_counts()

email     75
Email     57
e-mail     5
e Mail     5
e mail     4
E-mail     2
E-Mail     1
EMAIL      1
eMail      1
Name: 0, dtype: int64

In [62]:
pattern = 'sql'#  -> "[Ss][Qq][Ll]"

sql_counts = titles.str.contains(pattern, flags = re.I).sum()
sql_counts

108

In [63]:
pattern = r'[Ss][Qq][Ll]'

sql_counts = titles.str.contains(pattern).sum()
sql_counts

108

In [64]:
pattern = r'\w+sql'
hn_sql = hn[hn['title'].str.contains(pattern, flags = re.I)].copy()

In [65]:
hn['flavor'] = hn['title'].str.extract(r'(\w+sql)', flags = re.I)
hn["flavor"].value_counts()
hn['flavor'] = hn['flavor'].str.lower()
sql_pivot = hn.pivot_table(index = 'flavor', values = 'num_comments', aggfunc = 'mean')
sql_pivot

            num_comments
flavor
cloudsql        5.000000
memsql         14.000000
mysql          12.230769
nosql          14.529412
postgresql     25.962963
sparksql        1.000000

In [66]:
pattern = r'[Pp]ython\s([\d.?]+)'
pv_version = titles.str.extract(pattern)
py_versions_freq = dict(pv_version[0].value_counts())
py_versions_freq

{'3': 10,
 '2': 3,
 '3.5': 3,
 '3.6': 2,
 '8': 1,
 '3.5.0': 1,
 '2.7': 1,
 '4': 1,
 '1.5': 1}

In [76]:
pattern = r'\b[Cc][^.+]\b' # finding C language only

first_ten  = first_10_matches(pattern)
first_ten

33      Charles River Ventures Puts F*CK Trump on Thei...
201     Who the f*ck is this Product Manager at my sta...
298                                   Show HN: Enboard.co
365                      The new C standards are worth it
444           Moz raises $10m Series C from Foundry Group
521          Fuchsia: Micro kernel written in C by Google
522     Show HN: Speed: a golang client for the Perfor...
551     CE+T Power wins Google's $1M high density inve...
826     Wire  modern, private messaging from Skype co-...
1057    Site for generating bids and invoices- User:te...
Name: title, dtype: object

### Lookarounds.

Lookarounds let us define a character or sequence of characters that either must or must not come before or after our regex match. There are four types of lookarounds:

* `positive lookahead`  zzz(?=abc)  match zzz only when it is followed by abc
* `negative lookahead`  zzz(?!abc)  match zzz only when it is not followed by abc
* `positive lookbehind` (?<=abc)zzz match zzz only when it is preceded by abc
* `negative lookbehind` (?<!abc)zzz match zzz only when it is not preceded by abc

The contents of a lookaround can include any other regular expression component. For instance, we match only cases that are followed by exactly five characters:

r"Green(?=.{5})"

In [77]:
pattern = r'(?<!Series\s)\b[Cc]\b(?![\.+])'

c_mentions =titles.str.contains(pattern).sum()
c_mentions

102

In [79]:
titles[titles.str.contains(pattern)].head(50)

365                       The new C standards are worth it
521           Fuchsia: Micro kernel written in C by Google
1307             Show HN: Yupp, yet another C preprocessor
1326                      The C standard formalized in Coq
1365                           GNU C Library 2.23 released
1429     Cysignals: signal handling (SIGINT, SIGSEGV, )...
1620                         SDCC  Small Device C Compiler
1949     Rewriting a Ruby C Extension in Rust: How a Na...
2195     MyHTML  HTML Parser on Pure C with POSIX Threa...
2589     Phalcon  PHP framework delivered as a C extension
3097                A Superconductor That Works at -70 Â°C
3100       Building a BitTorrent client from scratch in C#
3250              Transactional Memory Support for C [pdf]
3276                      Programming the Blockchain in C#
3336               How C# beats Scala in async programming
3626     Learning how to write a 3D engine from scratch...
3794     Quotes from Jean-Paul Sartres Programming in A...
4045     Kitten: compile to C, stack-based functional p...
4072                                Why I Write Games in C
4295                  C strings with implicit length field
4414       Building a BitTorrent client from scratch in C#
4576     Ask HN: Which linux/unix C++/C IDE are you using?
4754            Amazon bans the sale of rogue USB-C cables
5259     Incorporating and accessing binary data into a...
5492         Scalable C  Writing Large-Scale Distributed C
5832     Show HN: An experimental Python to C#/Go/Ruby/...
6172                       Bad USB-C cable destroys laptop
6206            The Lost Art of C Structure Packing (2014)
6463     Code Blocks: open-source, cross-platform, free...
6759     Performance Improvements in C Code Using Micro...
7167                                             Checked C
7185     Apple rejects the Binding of Isaac: Rebirth b/...
7255     Why C Students Are More Successful After Gradu...
7647     Concurrency kit  Concurrency primitives and no...
7675     Scala's Option monad versus null-conditional o...
8001                C/C++ Extension for Visual Studio Code
8187     Rust conversion of Pinterest C program results...
8571     Tis-interpreter  find subtle bugs in programs ...
8620         Little: a tcl-based c-like scripting language
8883     Free C Programming Course from Aalto Universit...
9012                  C pointers are not hardware pointers
9315     Apple's Federighi talks open source Swift, Obj...
9363                           clib  C Package Manager-ish
9708      Make the most of the C/C++ static analysis tools
9787     Ask HN: Assume the universe is a simulation. W...
9836     The Absolutely True Story of a Real Programmer...
9838     A short introduction to the MVVM-C design pattern
10364           Talking to C Programmers about C++ [video]
10377                 When Haskell is Faster than C (2013)
10390    HP Unveils Premium Chromebook: 3K Display, Int...
Name: title, dtype: object

### Backreferences

Backreferences allow us to repeat a **capture group** within our regex pattern by referring to them with an **integer** in the **order** they are captured.

In [ ]:
"Sure Sure"
"Problem Problem"
"Ok Ok"
"YESNO NOYES"

"YESNO YESNO"



pat = r"(\w+)\s\1"

In [80]:
pattern = r'\b(\w+)\s\1\b'

repeated_words = titles[titles.str.contains(pattern)]
repeated_words

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

3102                  Silicon Valley Has a Problem Problem
3176                Wire Wire: A West African Cyber Threat
3178                         Flexbox Cheatsheet Cheatsheet
4797                            The Mindset Mindset (2015)
7276     Valentine's Day Special: Bye Bye Tinder, Flirt...
10371    Mcdonalds copying cyriak  cows cows cows in th...
11575                                    Bang Bang Control
11901          Cordless Telephones: Bye Bye Privacy (1991)
12697          Solving the the Monty-Hall-Problem in Swift
15049    Bye Bye Webrtc2SIP: WebRTC with Asterisk and A...
15839          Intellij-Rust Rust Plugin for IntelliJ IDEA
Name: title, dtype: object

In [83]:
pattern = r'\b(\w+)\s\1\s\1\b'

repeated_words = titles[titles.str.contains(pattern)]
repeated_words

10371    Mcdonalds copying cyriak  cows cows cows in th...
Name: title, dtype: object

In [89]:
pattern = r'(e[-\s]?mail)' # email, e-mail, e mail

email_variations = titles.str.extract(pattern, flags = re.I)[0].value_counts()
email_variations= pd.Series(email_variations.index)
email_variations

0     email
1     Email
2    e-mail
3    e Mail
4    e mail
5    E-mail
6    E-Mail
7     EMAIL
8     eMail
dtype: object

In [ ]:
str.replace("blue", "red")

In [86]:
titles_clean = titles.str.replace(pattern, "email", flags = re.I)
titles_clean.str.extract(pattern)[0].value_counts()

email    151
Name: 0, dtype: int64

In [90]:
hn["url"]

pattern = r"https?://[\w.]+/?.*?

0                  http://www.interactivedynamicvideo.com/
1        http://www.thewire.com/entertainment/2013/04/f...
2        https://www.amazon.com/Technology-Ventures-Ent...
3        http://www.nytimes.com/2007/11/07/movies/07ste...
4        http://arstechnica.com/business/2015/10/comcas...
                               ...
20094    https://puri.sm/philosophy/how-purism-avoids-i...
20095    https://medium.com/@zreitano/the-yc-applicatio...
20096    http://blog.darknedgy.net/technology/2016/01/0...
20097    https://medium.com/@benjiwheeler/how-product-h...
20098                https://github.com/jmcarp/robobrowser
Name: url, Length: 20099, dtype: object

In [95]:
# extracting domain name from url
# pattern = r".+//([\w\.]+)"
pattern = r"https?://([\w\.]+)"    
hn["url"].str.extract(pattern, flags = re.I)[0].value_counts().head(10)

github.com                1008
medium.com                 825
www.nytimes.com            525
www.theguardian.com        248
techcrunch.com             245
www.youtube.com            213
www.bloomberg.com          193
arstechnica.com            191
www.washingtonpost.com     190
www.wsj.com                138
Name: 0, dtype: int64

In [99]:
# extracting Protocol,Domain and Page path using 3 capturing group
pattern = r'(.+)://([\w\.]+)/?(.*)'
hn["url"].str.extract(pattern).head()

,0,1,2
0,http,www.interactivedynamicvideo.com,
1,http,www.thewire.com,entertainment/2013/04/florida-djs-april-fools-...
2,https,www.amazon.com,Technology-Ventures-Enterprise-Thomas-Byers/dp...
3,http,www.nytimes.com,2007/11/07/movies/07stein.html?_r=0
4,http,arstechnica.com,business/2015/10/comcast-and-other-isps-boost-...

In [100]:
pattern = r'(?P<protocol>.+)://(?P<domain>[\w\.]+)/?(?P<path>.*)'
hn["url"].str.extract(pattern).head()

,protocol,domain,path
0,http,www.interactivedynamicvideo.com,
1,http,www.thewire.com,entertainment/2013/04/florida-djs-april-fools-...
2,https,www.amazon.com,Technology-Ventures-Enterprise-Thomas-Byers/dp...
3,http,www.nytimes.com,2007/11/07/movies/07stein.html?_r=0
4,http,arstechnica.com,business/2015/10/comcast-and-other-isps-boost-...